body {
	width:1400px;
/*	border: 2px dashed red;
*/}

h1 {
	font-family: sans-serif;
	font-weight: bold;
	font-size: 40px;
}

h2 {
	font-family: sans-serif;
/*	letter-spacing: 3px;
*/	font-weight: bold;
	text-transform: uppercase;
	margin-top:10px;
	margin-bottom: 0px;
}

p {
	font-family: helvetica;
	font-size: 12px;
	width: 280px;
	text-align:justify;

}

/*img {
	 width:95%; 
}*/

.active_link {
	font-weight: bold;
	font-family:helvetica;
	font-size: 14px;
	float:left;
	width:210px;
	color:black;
	margin-bottom:7px;
	text-decoration: none;
}

.active_link:hover {
	text-decoration: underline;
}

.passive_link {
	/*font-weight: bold;*/
	font-family:helvetica;
	font-size: 14px;
	float:left;
	width:210px;
	color:gray;
	text-decoration: none;
	margin-bottom:7px;
}

.passive_link:hover {
	text-decoration: underline;
}

.logo {
	width:200px;
	height:373px;
	float:left;
	margin-right:5px;
}

.tile_stack {
	float:left;
	margin-right: 5px;
	width:277.25px;
	height:378px;
	position:relative;
}

.tile_stack_unit {
	float:left;
	position:relative;
	width:277.25px;
	margin-bottom:1px;
}

.tile_stack_photo {
	width:277.25px;
	height:184px;
}

.tile {
	float:left;
	margin-right: 5px;
	height:378px;
	position:relative;
}

.tile_photo {
	height: 373px;

}

.tile_photo_constrain {
	width:516px;
	height:373px;
}

/*.verticle_tile_photo {
	width:247px;
	margin-left: 5px;
}*/

.tile_label {
	font-family: sans-serif;
	font-size: 24px;
	color:white;
	font-weight: bold;
	position:absolute;
	left:20px;
	top:20px;
}

.caption {
	font-family: helvetica;
	font-size: 9px;
	color:gray;
	letter-spacing: 2px;
	line-height: 18px;
	margin-bottom:15px;
	
}

.bold_text {
	font-weight:bold;
}

.bold_lead {
	font-family: georgia;
	font-weight: bold;
	color:gray;
	/*letter-spacing: 2px;
	font-size: 20px;*/
}

.about_container {
	position:absolute;
	top:750px;
	margin-top:15px;
	width:650px;
}

.la_1 {
	width:850px;
	float:left;
	opacity:1;
	position:absolute;
	top:0px;
	left:0px;
	margin:auto;
}

.la_2 {
	width:850px;
	float:left;
	opacity:0;
	position:absolute;
	top:0px;
	left:0px;
	margin:auto;
}

.la_3 {
	width:850px;
	float:left;
	opacity:0;
	position:absolute;
	top:0px;
	left:0px;
	margin:auto;
}

.la_4 {
	width:850px;
	float:left;
	opacity:0;
	position:absolute;
	top:0px;
	left:0px;
	margin:auto;
}

.la_5 {
	width:850px;
	float:left;
	opacity:0;
	position:absolute;
	top:0px;
	left:0px;
	margin:auto;
}

.la_6 {
	width:850px;
	float:left;
	opacity:0;
	position:absolute;
	top:0px;
	left:0px;
	margin:auto;
}

.la_7 {
	width:850px;
	float:left;
	opacity:0;
	position:absolute;
	top:0px;
	left:0px;
	margin:auto;
}

.la_8 {
	width:850px;
	float:left;
	opacity:0;
	position:absolute;
	top:0px;
	left:0px;
	margin:auto;
}

.la_9 {
	width:850px;
	float:left;
	opacity:0;
	position:absolute;
	top:0px;
	left:0px;
	margin:auto;
}

.la_10 {
	width:850px;
	float:left;
	opacity:0;
	position:absolute;
	top:0px;
	left:0px;
	margin:auto;
}


.display_photo {
	width:850px;
	float:left;

}

.left_bar {
	width:205px;
	float:left;
	height:1500px;


}

.nav {
	float:left;
	width:205px;
	margin-top: 20px
}

.overall_container {
	float:left;
	width:850px;
	position:relative;
	/*border:1px solid red;
*/
}

.photo_tile {
 	float:left;
 	width:50px;
 	height:50px;
 	border:1px solid black;
 	vertical-align: middle;
 	text-align: left;
 	padding-left: 4px;
 	/*background-color:#225378;*/
 	margin-right:4px;
 	margin-bottom: 4px
}

.arrow_container {
	float:left;
	width:50px;
	position:absolute;
	top:660px;
	left:0px;
}

.left_nav {
	width:400px;
	height:635px;
	/*border:1px solid red;*/
	position:absolute;
	left:0px;
	top:0px;
	opacity:.2;
}

.right_nav {
	width:400px;
	height:635px;
	/*border:1px solid red;*/
	position:absolute;
	right:0px;
	top:0px;
	opacity:.2;
}

.left_arrow {
	font-family:helvetica;
	font-size:18px;
	font-weight:bold;
	color:white;
	position:absolute;
	top:525px;
	left:10px;
	/*text-outline: 1px gray;*/
}

.right_arrow {
	font-family:helvetica;
	font-size:18px;
	font-weight:bold;
	color:white;
	position:absolute;
	top:525px;
	right:10px;
	/*text-outline: 1px gray;*/
}